.idea
/node_modules/
/client/node_modules/
/client/build/
/src/midware/firebase/config.js
serviceAccountKey.json
public/images/
public/javascripts/
/client/.env
/.env
/util/db/dumps/
/client/yarn-error.log
/yarn-error.log
/.snyk
/out.txt
/util/sage/
/files/
/build/
