.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 0 !important;
  //height: 40px !important;
}

tr.even {
  background: linear-gradient(
    to right,
    rgba(142, 143, 146, 0.25) 0%,
    rgba(242, 14, 227, 0.05) 45%,
    rgba(242, 14, 227, 0.05) 55%,
    rgba(142, 143, 146, 0.25) 100%
  );
}

tr.Director {
  background: linear-gradient(
                  to right,
                  rgba(133, 58, 0, 0.24) 0%,
                  rgba(187, 80, 47, 0.05) 45%,
                  rgba(157, 80, 47, 0.05) 55%,
                  rgba(133, 58, 0, 0.24) 100%
  );
  font-weight: 400;
}
tr.Private {
  background: linear-gradient(
                  to right,
                  rgba(142, 143, 146, 0.25) 0%,
                  rgba(242, 14, 227, 0.05) 45%,
                  rgba(242, 14, 227, 0.05) 55%,
                  rgba(142, 143, 146, 0.25) 100%
  );
  font-style: oblique;
  font-weight: 200;
}
tr.Reaction {
  background: linear-gradient(
                  to right,
                  rgba(220, 233, 1, 0.25) 0%,
                  rgba(140, 3, 246, 0.05) 40%,
                  rgba(140, 3, 246, 0.05) 61%,
                  rgba(220, 233, 1, 0.25) 100%
  );
  font-weight: 400;
}
tr.Security {
  background: linear-gradient(
                  to right,
                  rgba(13, 18, 149, 0.25) 0%,
                  rgba(13, 18, 149, 0.05) 40%,
                  rgba(13, 18, 149, 0.05) 61%,
                  rgba(13, 18, 149, 0.25) 100%
  );
  font-weight: 400;
}
tr.Technical {
  background: linear-gradient(
                  to right,
                  rgba(31, 146, 10, 0.25) 0%,
                  rgba(31, 146, 10, 0.05) 40%,
                  rgba(31, 146, 10, 0.05) 61%,
                  rgba(31, 146, 10, 0.25) 100%
  );
  font-weight: 400;
}
