tr:hover {
  color: black !important;
}
tr.Director {
  background: linear-gradient(
    to right,
    #a90329 0%,
    #8c3310 40%,
    #752201 61%,
    #a90329 100%
  );
  color: white;
  font-weight: 500;
}
tr.Private {
  background: linear-gradient(
    to right,
    #a91c9f 0%,
    #8c254b 40%,
    #750242 61%,
    #a91c9f 100%
  );
  color: white;
  font-style: oblique;
  font-weight: 100;
}
tr.Reaction {
  background: linear-gradient(
    to right,
    #6a6a6e 0%,
    #6e584c 40%,
    #75625c 61%,
    #6a6a6e 100%
  );
  color: white;
  font-weight: 400;
}
tr.Security {
  background: linear-gradient(
    to right,
    rgba(32, 83, 167, 0.82) 0%,
    #a1a0a7 40%,
    #a78e68 61%,
    #6931a7 100%
  );
  color: white;
  font-weight: 400;
}
tr.Technical {
  background: linear-gradient(
    to right,
    rgba(51, 146, 29, 0.84) 0%,
    rgba(117, 114, 116, 0.83) 40%,
    #8e8f92 61%,
    rgba(62, 146, 114, 0.85) 100%
  );
  color: white;
  font-weight: 400;
}
