tr.Director {
  background: linear-gradient(
    to right,
    rgba(133, 58, 0, 0.24) 0%,
    rgba(187, 80, 47, 0.05) 45%,
    rgba(157, 80, 47, 0.05) 55%,
    rgba(133, 58, 0, 0.24) 100%
  );
  font-weight: 400;
}
tr.Private {
  background: linear-gradient(
    to right,
    rgba(142, 143, 146, 0.25) 0%,
    rgba(242, 14, 227, 0.05) 45%,
    rgba(242, 14, 227, 0.05) 55%,
    rgba(142, 143, 146, 0.25) 100%
  );
  font-style: oblique;
  font-weight: 200;
}
tr.Reaction {
  background: linear-gradient(
    to right,
    rgba(220, 233, 1, 0.25) 0%,
    rgba(140, 3, 246, 0.05) 40%,
    rgba(140, 3, 246, 0.05) 61%,
    rgba(220, 233, 1, 0.25) 100%
  );
  font-weight: 400;
}
tr.Security {
  background: linear-gradient(
    to right,
    rgba(13, 18, 149, 0.25) 0%,
    rgba(13, 18, 149, 0.05) 40%,
    rgba(13, 18, 149, 0.05) 61%,
    rgba(13, 18, 149, 0.25) 100%
  );
  font-weight: 400;
}
tr.Technical {
  background: linear-gradient(
    to right,
    rgba(31, 146, 10, 0.25) 0%,
    rgba(31, 146, 10, 0.05) 40%,
    rgba(31, 146, 10, 0.05) 61%,
    rgba(31, 146, 10, 0.25) 100%
  );
  font-weight: 400;
}
