$color_1: #108ee9;

.editable-cell {
  position: relative;
  &:hover {
    .editable-cell-icon {
      display: inline-block;
    }
  }
}
.editable-cell-input-wrapper {
  padding-right: 48px;
}
.editable-cell-text-wrapper {
  padding-right: 24px;
  padding: 5px 24px 5px 5px;
}
.editable-cell-icon {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
  line-height: 18px;
  display: none;
  &:hover {
    color: $color_1;
  }
}
.editable-cell-icon-check {
  position: absolute;
  right: 22px;
  width: 20px;
  cursor: pointer;
  line-height: 28px;
  &:hover {
    color: $color_1;
  }
}
.editable-cell-icon-close {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
  line-height: 28px;
  &:hover {
    color: $color_1;
  }
}
.editable-add-btn {
  margin-bottom: 8px;
}
