@import 'views/styles/shared';

.register-user {
  margin-top: 90px;
  max-width: 600px;
}

.register-user__heading {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
