.ant-form-item-label {
  //width: 125px;
  //margin: 0 8px 8px 0;
  line-height: normal;
}

.ant-form-item-control {
  /*width: 200px;*/
}

.ant-form-item {
  line-height: normal;
  margin-bottom: 5px;
}

